In [6]:
import pandas as pd

In [7]:
test_df = pd.read_csv("data/test.csv")
test_labels_df = pd.read_csv("data/test_labels.csv")

In [8]:
test_df.head()

                 id                                       comment_text
0  00001cee341fdb12  Yo bitch Ja Rule is more succesful then you'll...
1  0000247867823ef7  == From RfC == \n\n The title is fine as it is...
2  00013b17ad220c46  " \n\n == Sources == \n\n * Zawe Ashton on Lap...
3  00017563c3f7919a  :If you have a look back at the source, the in...
4  00017695ad8997eb          I don't anonymously edit articles at all.

In [9]:
test_labels_df.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,-1,-1,-1,-1,-1,-1
1,0000247867823ef7,-1,-1,-1,-1,-1,-1
2,00013b17ad220c46,-1,-1,-1,-1,-1,-1
3,00017563c3f7919a,-1,-1,-1,-1,-1,-1
4,00017695ad8997eb,-1,-1,-1,-1,-1,-1

In [10]:
test_df.isnull().any()

id              False
comment_text    False
dtype: bool

In [11]:
test_labels_df.toxic.unique(), test_labels_df.severe_toxic.unique(), test_labels_df.obscene.unique(), test_labels_df.threat.unique(), test_labels_df.insult.unique(), test_labels_df.identity_hate.unique()

(array([-1,  0,  1], dtype=int64),
 array([-1,  0,  1], dtype=int64),
 array([-1,  0,  1], dtype=int64),
 array([-1,  0,  1], dtype=int64),
 array([-1,  0,  1], dtype=int64),
 array([-1,  0,  1], dtype=int64))

In [12]:
test_lbl_df = test_labels_df[test_labels_df.toxic!=-1]
test_lbl_df = test_lbl_df[test_lbl_df.severe_toxic!=-1]
test_lbl_df = test_lbl_df[test_lbl_df.obscene!=-1]
test_lbl_df = test_lbl_df[test_lbl_df.threat!=-1]
test_lbl_df = test_lbl_df[test_lbl_df.insult!=-1]
test_lbl_df = test_lbl_df[test_lbl_df.identity_hate!=-1]
test_lbl_df

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
5,0001ea8717f6de06,0,0,0,0,0,0
7,000247e83dcc1211,0,0,0,0,0,0
11,0002f87b16116a7f,0,0,0,0,0,0
13,0003e1cccfd5a40a,0,0,0,0,0,0
14,00059ace3e3e9a53,0,0,0,0,0,0
...,...,...,...,...,...,...,...
153150,fff8f64043129fa2,0,0,0,0,0,0
153151,fff9d70fe0722906,0,0,0,0,0,0
153154,fffa8a11c4378854,0,0,0,0,0,0
153155,fffac2a094c8e0e2,1,0,1,0,1,0
153156,fffb5451268fb5ba,0,0,0,0,0,0

In [13]:
final_test_df = pd.merge(test_df, test_lbl_df, on=['id'])
final_test_df.head(), final_test_df.shape

(                 id                                       comment_text  toxic  \
 0  0001ea8717f6de06  Thank you for understanding. I think very high...      0
 1  000247e83dcc1211                   :Dear god this site is horrible.      0
 2  0002f87b16116a7f  "::: Somebody will invariably try to add Relig...      0
 3  0003e1cccfd5a40a  " \n\n It says it right there that it IS a typ...      0
 4  00059ace3e3e9a53  " \n\n == Before adding a new product to the l...      0

    severe_toxic  obscene  threat  insult  identity_hate
 0             0        0       0       0              0
 1             0        0       0       0              0
 2             0        0       0       0              0
 3             0        0       0       0              0
 4             0        0       0       0              0  ,
 (63978, 8))

In [34]:
final_test_df.dtypes

id               object
comment_text     object
toxic             int64
severe_toxic      int64
obscene           int64
threat            int64
insult            int64
identity_hate     int64
dtype: object

In [40]:
convert_dict = {'comment_text': 'string', 
                'toxic': 'category',
                'severe_toxic': 'category',
                'obscene': 'category',
                'threat': 'category',
                'insult': 'category',
                'identity_hate': 'category',
               } 
  
df = final_test_df.astype(convert_dict) 
df.dtypes

id                 object
comment_text       string
toxic            category
severe_toxic     category
obscene          category
threat           category
insult           category
identity_hate    category
dtype: object

In [117]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.feature_extraction.text import TfidfVectorizer

In [97]:
X = final_test_df['comment_text']
y_toxic = np.array(final_test_df['toxic']).reshape(-1)
y_severe_toxic = final_test_df['severe_toxic']
y_obscene = final_test_df['obscene']
y_threat = final_test_df['threat']
y_insult = final_test_df['insult']
y_identity_hate = final_test_df['identity_hate']

In [106]:
corpus = []
for x in X:
    corpus.append(x.lower())
test_data = np.array(corpus)

In [107]:
X_train, X_validation, y_train, y_validation = train_test_split(test_data, y_toxic, test_size=0.2, random_state=0)

In [108]:
X_train.shape, X_validation.shape, y_train.shape, y_validation.shape

((51182,), (12796,), (51182,), (12796,))

In [111]:
vectorizer = CountVectorizer()
X_train_count = vectorizer.fit_transform(X_train)
X_validation_count  = vectorizer.transform(X_validation)
X_train_count.shape, X_validation_count.shape

((51182, 122959), (12796, 122959))

In [112]:
X_train_count.shape

(51182, 122959)

In [113]:
tfidf_vectorizer = TfidfVectorizer()
tfidf_X_train_count = tfidf_vectorizer.fit_transform(X_train)
tfidf_X_validation_count  = tfidf_vectorizer.transform(X_validation)

In [114]:
advance_tfidf_vectorizer = TfidfVectorizer(ngram_range=(1, 3), stop_words = 'english')
advance_tfidf_X_train_count = advance_tfidf_vectorizer.fit_transform(X_train)
advance_tfidf_X_validation_count  = advance_tfidf_vectorizer.transform(X_validation)

In [119]:
clf = MultinomialNB()

clf.fit(X_train_count, y_train)
pred = clf.predict(X_validation_count)
print("Counter Accuracy:", accuracy_score(y_validation, pred))

clf.fit(tfidf_X_train_count, y_train)
tfidf_pred = clf.predict(tfidf_X_validation_count)
print("TFIDF Accuracy:", accuracy_score(y_validation, tfidf_pred))

clf.fit(advance_tfidf_X_train_count, y_train)
advance_tfidf_pred = clf.predict(advance_tfidf_X_validation_count)
print ("Advance TFIDF Accuracy:", accuracy_score(y_validation, advance_tfidf_pred))

Counter Accuracy: 0.9270865895592373
TFIDF Accuracy: 0.9115348546420756
Advance TFIDF Accuracy: 0.9101281650515786